body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:437px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2057 {
  position:absolute;
  left:37px;
  top:67px;
  width:75px;
  height:16px;
}
#u2058 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u2059 {
  position:absolute;
  left:37px;
  top:93px;
  width:405px;
  height:95px;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2060 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2062 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2064 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2066 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2068 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2070 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2072 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2074 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2076 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2078 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2080 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2082 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:30px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2084 {
  position:absolute;
  left:285px;
  top:262px;
  width:140px;
  height:40px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
