body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:719px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1890 {
  position:absolute;
  left:293px;
  top:631px;
  width:140px;
  height:40px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1892 {
  position:absolute;
  left:19px;
  top:20px;
  width:103px;
  height:16px;
}
#u1893 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u1894 {
  position:absolute;
  left:19px;
  top:46px;
  width:605px;
  height:95px;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1895 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1897 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1899 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1901 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1903 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u1904 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1905 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
}
#u1906 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1907 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u1908 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1909 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u1910 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1911 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1913 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
}
#u1914 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1915 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
}
#u1916 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1917 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:30px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1919 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1921 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1923 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
}
#u1924 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1925 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:30px;
}
#u1926 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1927 {
  position:absolute;
  left:400px;
  top:60px;
  width:100px;
  height:30px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1929 {
  position:absolute;
  left:500px;
  top:60px;
  width:100px;
  height:30px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931 {
  position:absolute;
  left:19px;
  top:153px;
  width:405px;
  height:95px;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1933 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1934 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u1935 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1936 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u1937 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1938 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u1939 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1940 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u1941 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1942 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u1943 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1944 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1946 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
}
#u1947 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1948 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u1949 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1950 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u1951 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1952 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1954 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:30px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1956 {
  position:absolute;
  left:19px;
  top:262px;
  width:89px;
  height:16px;
}
#u1957 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u1958 {
  position:absolute;
  left:19px;
  top:288px;
  width:505px;
  height:95px;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1959 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1961 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u1962 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1963 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1965 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1967 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1969 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u1970 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1971 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1973 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1975 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1977 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1979 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1981 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1983 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1985 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:30px;
}
#u1986 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1987 {
  position:absolute;
  left:400px;
  top:60px;
  width:100px;
  height:30px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1989 {
  position:absolute;
  left:19px;
  top:388px;
  width:75px;
  height:16px;
}
#u1990 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1991 {
  position:absolute;
  left:19px;
  top:414px;
  width:705px;
  height:95px;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1992 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1994 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1996 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1998 {
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2000 {
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2002 {
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2004 {
  position:absolute;
  left:600px;
  top:0px;
  width:100px;
  height:30px;
}
#u2005 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2006 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u2007 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2008 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u2009 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2010 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u2011 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2012 {
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2014 {
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
}
#u2015 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2016 {
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:30px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2018 {
  position:absolute;
  left:600px;
  top:30px;
  width:100px;
  height:30px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2020 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2022 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2024 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2026 {
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:30px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2028 {
  position:absolute;
  left:400px;
  top:60px;
  width:100px;
  height:30px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2030 {
  position:absolute;
  left:500px;
  top:60px;
  width:100px;
  height:30px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2032 {
  position:absolute;
  left:600px;
  top:60px;
  width:100px;
  height:30px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
