.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.heading_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.box_1 {
}
.box_2 {
}
.btn_lighttheme_flat_default {
  font-family:'Roboto Regular', 'Roboto';
  font-size:13px;
  color:#009688;
}
.btn_lighttheme_flat_press {
  color:rgba(0, 150, 136, 0.698039215686274);
}
.btn_lighttheme_flat_primary {
  color:#009688;
}
.btn_lighttheme_flat_disabled {
  color:rgba(0, 0, 0, 0.258823529411765);
}
.timepicker_a_lighttheme_default {
  font-family:'Roboto Regular', 'Roboto';
  font-size:13px;
}
.timepicker_a_lighttheme_pressdown {
  font-family:'Roboto Regular', 'Roboto';
  font-size:13px;
  color:#FFFFFF;
}
.timepicker_a_lighttheme_current {
  font-family:'Roboto Regular', 'Roboto';
  font-size:13px;
  color:#009688;
}
.box_3 {
}
.tab_alter {
  font-size:13px;
  color:#333333;
}
.tab_default {
  font-size:13px;
  color:#CCCCCC;
}
.label {
  font-family:'Helvetica Regular', 'Helvetica';
  font-size:14px;
  text-align:left;
}
.selectbox_default {
}
.selectbox_alter {
}
.box_yellow {
  font-size:11px;
  color:#FFFFFF;
}
.box_yellow_big {
  font-family:'FontAwesome';
  font-size:13px;
  color:#FFFFFF;
}
.box_green {
  font-size:11px;
  color:#FFFFFF;
}
.box_green_big {
  font-family:'FontAwesome';
  font-size:13px;
  color:#FFFFFF;
}
.box_lightgreen {
  font-size:11px;
  color:#FFFFFF;
}
.box_lightgreen_big {
  font-family:'FontAwesome';
  font-size:13px;
  color:#FFFFFF;
}
.box_red {
  font-size:11px;
  color:#FFFFFF;
}
.box_red_big {
  font-family:'FontAwesome';
  font-size:11px;
  color:#FFFFFF;
}
.box_blue {
  font-size:11px;
  color:#FFFFFF;
}
.box_blue_big {
  font-family:'FontAwesome';
  font-size:13px;
  color:#FFFFFF;
}
.box_gery {
  font-size:11px;
  color:#333333;
}
.box_gery_big {
  font-family:'FontAwesome';
  font-size:13px;
  color:#333333;
}
.numpane {
  font-size:32px;
  color:#666666;
  text-align:left;
}
.fixbox_title {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
  text-align:left;
}
.ellipse {
}
.pos_default {
  font-family:'FontAwesome';
  font-size:12px;
  color:#FFFFFF;
}
.pos_alter {
  font-family:'FontAwesome';
  font-size:12px;
  color:#FFFFFF;
}
.shape {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.image {
}
.button {
}
.pic {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.label2 {
  font-family:'FontAwesome';
  font-size:13px;
  color:#999C9E;
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.marker {
  color:#FFFFFF;
}
.flow_shape {
}
.fontawesome {
  font-family:'FontAwesome';
  font-size:36px;
  text-align:center;
}
.nav_left_default {
  font-family:'FontAwesome';
  font-size:16px;
  color:#9FAABB;
  text-align:left;
}
.nav_left_alter {
  font-family:'FontAwesome';
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
.nav_left_subtitle_default {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  color:#9FAABB;
  text-align:left;
}
.nav_left_subtitle_alter {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  color:#FFFFFF;
  text-align:left;
}
.paragraph1 {
  text-align:left;
}
.icon {
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.table_cell {
}
.connector {
}
.image1 {
  color:#000000;
}
.nav_left {
  font-family:'FontAwesome';
  font-size:14px;
  text-align:left;
}
