body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1525px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2380_div {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:568px;
  background:inherit;
  background-color:rgba(243, 243, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2380 {
  position:absolute;
  left:220px;
  top:0px;
  width:980px;
  height:568px;
}
#u2381 {
  position:absolute;
  left:2px;
  top:276px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2383 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u2385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2385 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
}
.u2385_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2385.mouseOver {
}
.u2385_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2385.mouseDown {
}
.u2385_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2385.selected {
}
.u2386 {
  position:absolute;
  left:55px;
  top:9px;
  width:163px;
  word-wrap:break-word;
}
#u2384-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
}
#u2384-2 {
  position:absolute;
  left:0px;
  top:34px;
  width:220px;
  height:34px;
}
#u2384-3 {
  position:absolute;
  left:0px;
  top:68px;
  width:220px;
  height:34px;
}
#u2384-4 {
  position:absolute;
  left:0px;
  top:102px;
  width:220px;
  height:34px;
}
#u2384 {
  position:absolute;
  left:0px;
  top:404px;
  width:220px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u2388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2388 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
}
.u2388_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2388.mouseOver {
}
.u2388_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2388.mouseDown {
}
.u2388_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2388.selected {
}
.u2389 {
  position:absolute;
  left:55px;
  top:9px;
  width:163px;
  word-wrap:break-word;
}
#u2387-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
}
#u2387-2 {
  position:absolute;
  left:0px;
  top:34px;
  width:220px;
  height:34px;
}
#u2387-3 {
  position:absolute;
  left:0px;
  top:68px;
  width:220px;
  height:34px;
}
#u2387 {
  position:absolute;
  left:0px;
  top:355px;
  width:220px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u2391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2391 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
}
.u2391_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2391.mouseOver {
}
.u2391_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2391.mouseDown {
}
.u2391_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2391.selected {
}
.u2392 {
  position:absolute;
  left:55px;
  top:9px;
  width:163px;
  word-wrap:break-word;
}
#u2390-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
}
#u2390-2 {
  position:absolute;
  left:0px;
  top:34px;
  width:220px;
  height:34px;
}
#u2390-3 {
  position:absolute;
  left:0px;
  top:68px;
  width:220px;
  height:34px;
}
#u2390-4 {
  position:absolute;
  left:0px;
  top:102px;
  width:220px;
  height:34px;
}
#u2390 {
  position:absolute;
  left:0px;
  top:259px;
  width:220px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
.u2394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2394 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
}
.u2394_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2394.mouseOver {
}
.u2394_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2394.mouseDown {
}
.u2394_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u2394.selected {
}
.u2395 {
  position:absolute;
  left:55px;
  top:9px;
  width:163px;
  word-wrap:break-word;
}
#u2393-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:34px;
}
#u2393-2 {
  position:absolute;
  left:0px;
  top:34px;
  width:220px;
  height:34px;
}
#u2393-3 {
  position:absolute;
  left:0px;
  top:68px;
  width:220px;
  height:34px;
}
#u2393-4 {
  position:absolute;
  left:0px;
  top:102px;
  width:220px;
  height:34px;
}
#u2393 {
  position:absolute;
  left:0px;
  top:307px;
  width:220px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2396 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2397 {
  position:absolute;
  left:0px;
  top:163px;
  width:220px;
  height:48px;
}
#u2397_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2397.mouseOver {
}
#u2397_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2397.mouseDown {
}
#u2397_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2397.selected {
}
#u2398 {
  position:absolute;
  left:20px;
  top:14px;
  width:198px;
  word-wrap:break-word;
}
#u2399 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2400 {
  position:absolute;
  left:0px;
  top:259px;
  width:220px;
  height:48px;
}
#u2400_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2400.mouseOver {
}
#u2400_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2400.mouseDown {
}
#u2400_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2400.selected {
}
#u2401 {
  position:absolute;
  left:20px;
  top:14px;
  width:198px;
  word-wrap:break-word;
}
#u2402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2402 {
  position:absolute;
  left:192px;
  top:278px;
  width:7px;
  height:10px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2402_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2402.mouseOver {
}
#u2402_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2402.mouseDown {
}
#u2402_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2402.selected {
}
#u2403 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u2404 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2405 {
  position:absolute;
  left:0px;
  top:307px;
  width:220px;
  height:48px;
}
#u2405_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2405.mouseOver {
}
#u2405_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2405.mouseDown {
}
#u2405_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2405.selected {
}
#u2406 {
  position:absolute;
  left:20px;
  top:14px;
  width:198px;
  word-wrap:break-word;
}
#u2407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2407 {
  position:absolute;
  left:193px;
  top:327px;
  width:7px;
  height:10px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2407_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2407.mouseOver {
}
#u2407_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2407.mouseDown {
}
#u2407_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2407.selected {
}
#u2408 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u2409 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:49px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2410 {
  position:absolute;
  left:0px;
  top:355px;
  width:220px;
  height:49px;
}
#u2410_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:49px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2410.mouseOver {
}
#u2410_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:49px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2410.mouseDown {
}
#u2410_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:49px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2410.selected {
}
#u2411 {
  position:absolute;
  left:20px;
  top:15px;
  width:198px;
  word-wrap:break-word;
}
#u2412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2412 {
  position:absolute;
  left:192px;
  top:373px;
  width:7px;
  height:10px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2412_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2412.mouseOver {
}
#u2412_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2412.mouseDown {
}
#u2412_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2412.selected {
}
#u2413 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u2414 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:163px;
  background:-webkit-linear-gradient(160deg, rgba(37, 56, 72, 1) 0%, rgba(37, 56, 72, 1) 2%, rgba(40, 58, 74, 1) 50%, rgba(51, 51, 0, 1) 100%, rgba(51, 51, 0, 1) 100%);
  background:-moz-linear-gradient(290deg, rgba(37, 56, 72, 1) 0%, rgba(37, 56, 72, 1) 2%, rgba(40, 58, 74, 1) 50%, rgba(51, 51, 0, 1) 100%, rgba(51, 51, 0, 1) 100%);
  background:linear-gradient(290deg, rgba(37, 56, 72, 1) 0%, rgba(37, 56, 72, 1) 2%, rgba(40, 58, 74, 1) 50%, rgba(51, 51, 0, 1) 100%, rgba(51, 51, 0, 1) 100%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2415 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:163px;
}
#u2416 {
  position:absolute;
  left:2px;
  top:74px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:52px;
}
#u2417 {
  position:absolute;
  left:19px;
  top:38px;
  width:50px;
  height:52px;
}
#u2418 {
  position:absolute;
  left:2px;
  top:18px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2419 {
  position:absolute;
  left:19px;
  top:100px;
  width:180px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2420 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u2421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#7F93A5;
}
#u2421 {
  position:absolute;
  left:19px;
  top:121px;
  width:180px;
  height:12px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#7F93A5;
}
#u2422 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u2423 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2424 {
  position:absolute;
  left:0px;
  top:211px;
  width:220px;
  height:48px;
}
#u2424_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2424.mouseOver {
}
#u2424_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2424.mouseDown {
}
#u2424_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
  background:inherit;
  background-color:rgba(41, 56, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2424.selected {
}
#u2425 {
  position:absolute;
  left:20px;
  top:14px;
  width:198px;
  word-wrap:break-word;
}
#u2426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2426 {
  position:absolute;
  left:192px;
  top:230px;
  width:7px;
  height:10px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2426_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2426.mouseOver {
}
#u2426_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2426.mouseDown {
}
#u2426_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#9FAABB;
}
#u2426.selected {
}
#u2427 {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  white-space:nowrap;
}
#u2429 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2430 {
  position:absolute;
  left:220px;
  top:0px;
  width:980px;
  height:64px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2431 {
  position:absolute;
  left:1135px;
  top:23px;
  width:42px;
  height:18px;
}
#u2432 {
  position:absolute;
  left:0px;
  top:1px;
  width:41px;
  white-space:nowrap;
}
#u2433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:13px;
}
#u2433 {
  position:absolute;
  left:1106px;
  top:27px;
  width:12px;
  height:13px;
  text-align:center;
}
#u2434 {
  position:absolute;
  left:0px;
  top:-2px;
  width:11px;
  white-space:nowrap;
}
#u2435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2435 {
  position:absolute;
  left:286px;
  top:21px;
  width:209px;
  height:19px;
  font-family:'.PingFang-SC-Medium', 'PingFang SC Bold', 'PingFang SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2436 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u2437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2437 {
  position:absolute;
  left:237px;
  top:13px;
  width:42px;
  height:39px;
}
#u2438 {
  position:absolute;
  left:0px;
  top:-2px;
  width:28px;
  white-space:nowrap;
}
#u2439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:108px;
}
#u2439 {
  position:absolute;
  left:1225px;
  top:185px;
  width:300px;
  height:108px;
}
#u2440 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:42px;
  background:inherit;
  background-color:rgba(209, 218, 222, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2441 {
  position:absolute;
  left:1081px;
  top:91px;
  width:97px;
  height:42px;
}
#u2442 {
  position:absolute;
  left:15px;
  top:13px;
  width:67px;
  white-space:nowrap;
}
#u2443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:42px;
  background:inherit;
  background-color:rgba(42, 133, 198, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2443 {
  position:absolute;
  left:974px;
  top:90px;
  width:97px;
  height:42px;
}
#u2444 {
  position:absolute;
  left:15px;
  top:13px;
  width:67px;
  white-space:nowrap;
}
#u2446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u2446 {
  position:absolute;
  left:220px;
  top:64px;
  width:980px;
  height:95px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u2447 {
  position:absolute;
  left:25px;
  top:20px;
  width:953px;
  word-wrap:break-word;
}
#u2448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2448 {
  position:absolute;
  left:246px;
  top:115px;
  width:174px;
  height:20px;
}
#u2449 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u2450 {
  position:absolute;
  left:230px;
  top:169px;
  width:305px;
  height:95px;
}
#u2451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2451 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2452 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2453 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
}
#u2454 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2455 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
}
#u2456 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u2457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2457 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u2458 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2459 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
}
#u2460 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2461 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
}
#u2462 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2463 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u2464 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2465 {
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
}
#u2466 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2467 {
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
}
#u2468 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
